/* 1. CSS RESET */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* 2. GENERAL STYLING */

body {
    width: 100%;
    font-family: futura-pt, Futura, sans-serif;
    font-weight: 500;
    margin: auto;
    color: #000000;
    background-color: #6ad4eb;        
}

a {
    text-decoration: none;
}

/* 2.1 TYPOGRAPHY */

p {
    font-size: 1.1em;
}

h1 {
    font-size: 6.854em; 
    font-family: Futura, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
}

h2 {
    font-size: 4.236em;
}

h3 {
    font-size: 2.618em;
    text-align: center;
    color: #FFF;
}

h4 {
    font-size: 1.618em;
    text-align: center;
}

.key-location-text {
    font-family: futura-pt, Futura, sans-serif;
    font-size: 1.618em;
    font-weight: bold;
    fill: #FFF;
}

.description-text {
    font-family: futura-pt, Futura, sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    fill: #FFF;    
}

/* 3. NAV */

/* 4. MAP */
.map-container {
    height: 100vh;
    width: 100%;
    background-color: #6ad4eb;        
}

.map-svg {
    height: 100vh;
    width: 100%;
    background-color: #6ad4eb;        
}

.trails {
    stroke: #FFF;
    opacity: 0.6;
    stroke-dasharray: 20;
}

.minor-location {
    opacity: 0.7;
}


/* 5 FOOTER */
.social {
    display: inline;
    text-align: center;
    list-style: none;
}

.social ul li {
    display: inline;
}

.social a img {
    -webkit-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
}

.social a:hover img {
   -webkit-transform: scale(1.05) rotate(360deg);
    transform: scale(1.05) rotate(360deg);
}

.social img {
    width: 3.25em;
    margin: auto 0.5em auto 0.5em;
}



/* GENERAL SECTION STYLING */
.parallax-bg {
    width: 100%;
    position: fixed;
    z-index: -1;
}

.parallax-wrapper {
    margin-bottom: 5em;
}

.parallax-footer {
    height: 5em;
    bottom: -1em;
}

.border-top {
    width: 100%;
    height: auto;
    margin-bottom: -0.2em;
    z-index: 2;
}

.border-bottom {
    width: 100%;
    height: auto;
    margin-top: -0.1em;
    transform: rotate(180deg);
    z-index: 2;
}

.island-background {
    padding: 2.5em 0em;
    background-color: #000;
    z-index: 2;    
}

.header-icon {
    width: 20%;
    height: auto;
    margin-bottom: -6em;
    z-index: 3;
    position: absolute;
    transform: scale(0.85);
}

.island-background p {
    color: #FFF;
}

p {
    width: 68%;
    line-height: 1.5em;
    margin: 1.5em auto;
}


/* PORTFOLIO */

p.project-type {
    font-size: 1em;
    color: #6ad4eb;
    margin-top: 0.5em;
}

.center {
    justify-self: center;
}

/* PORTFOLIO FLEX */
.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 1em auto;
    padding: 2em;
    border: 0.25em solid #6ad4eb;
    border-radius: 2em;
    width: 68%;
    transition: all 0.15s;
    transition-timing-function: cubic-bezier(0.94, 0.4, 0.88, 0.68);
}

.flex-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto 2em;
    padding: 0.5em 0em;
    width: 50%;
}

.flex-item h3 {
    text-align: left;  
    color:   #6ad4eb;
}

.flex-item p {
    width: 100%;
    margin: 0.5em auto;
}

.flex-item svg {
        margin: auto;
        padding: 1em;
        display: inline;    
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

/* PORTFOLIO ICON SVGs */
.body-element {
    fill:none;
    stroke-width: 6px;    
    stroke: #FFF;
}

.highlight-element {
    fill:none;
    stroke-width: 6px;    
    stroke: #6ad4eb;
}

/* PORTFOLIO HOVER */
.flex-container:hover {
    background-color: #6ad4eb;
}

.flex-container:hover p {
   color: #000;
}

.flex-container:hover h3, .flex-container:hover .project-type {
    color: #FFF;
}

.flex-container:hover .body-element {
    fill: #000;
    stroke: #000;    
}

.flex-container:hover .highlight-element {
    fill: #FFF;
    stroke: #FFF;    
}









/* CASE STUDY */

.project-header {
    width: 50%;
    height: auto;
    display: block;
    /* border: 1em solid #FFF; */
}

.casestudy h3 {
    margin: 2em auto 0.5em auto;
    width: 25%;
    border-bottom: 0.1em solid #6ad4eb;
}

.flex-project-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
}

.flex-project-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto 2em;
    border-top: 0.25em solid #6ad4eb;
    border-bottom: 0.25em solid #6ad4eb;
    padding: 0.5em 0em;
    width: 20%;
    
}

.flex-project-item span {
    font-size: 1.618em;
    color: #6ad4eb;
    line-height: 1.5em;
}

.flex-project-item p {
    margin: 0.5em 0em;
    width: 100%;
    /* font-style: italic; */
}


/* CONTACT */
.secondary-icon {
    transform: scale(0.4);
}

#x-icon {
    display: block;
    margin: auto;
    width: 20%;
}


/* ABOUT */
.tilt {
    transform: rotate(10deg) scale(0.7);
}



