/* 1. CSS RESET */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* 2. GENERAL STYLING */

body {
    width: 100%;
    font-family: futura-pt, Futura, sans-serif;
    font-weight: 500;
    margin: auto;
    color: #000000;
    background-color: #6ad4eb;        
}

a {
    text-decoration: none;
}


/* 2.1 TYPOGRAPHY */
h1 {
    font-size: 6.854em; 
    font-family: Futura, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
}

h2 {
    font-size: 4.236em;
}

h3 {
    font-size: 2.618em;
}

.key-location-text {
    font-family: futura-pt, Futura, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    fill: #FFF;
}

.description-text {
    font-family: futura-pt, Futura, sans-serif;
    font-size: 1.15em;
    font-weight: 400;
    fill: #FFF;    
}

/* 3. NAV */

/* 4. MAP */
.map-container {
    height: 100vh;
    width: 100%;
    background-color: #6ad4eb;        
}

.map-svg {
    height: 100vh;
    width: 100%;
    background-color: #6ad4eb;        
}

.trails {
    stroke: #FFF;
    opacity: 0.6;
    stroke-dasharray: 20;
}

.minor-location {
    opacity: 0.7;
}


/* 5 FOOTER */
.social {
    display: inline;
    text-align: center;
    list-style: none;
}

.social ul li {
    display: inline;
}

.social a img {
    -webkit-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
}

.social a:hover img {
   -webkit-transform: scale(1.05) rotate(360deg);
    transform: scale(1.05) rotate(360deg);
}

.social img {
    width: 3em;
    margin: auto 0.5em auto 0.5em;
}



/* GENERAL SECTION STYLING */
.parallax-bg {
    width: 100%;
    position: fixed;
    z-index: -1;
}

.border-top {
    width: 100%;
    height: auto;
    margin-bottom: -0.2em;
    z-index: 2;
}

.border-bottom {
    width: 100%;
    height: auto;
    margin-top: -0.1em;
    transform: rotate(180deg);
    z-index: 2; 
    margin-bottom: 20em;   
}

.island-background {
    background-color: #000;
    z-index: 2;    
}

.header-icon {
    width: 20%;
    height: auto;
    margin-bottom: -6em;
    z-index: 3;
    position: absolute;
    transform: scale(0.85);
}


/* PORTFOLIO */
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    margin: auto;
    width: 100%;
}

.flex-item {
    width:25%;
    margin: auto;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    text-align: center;
    padding: 1.5em 1em;

    border: 0.25em solid #6ad4eb;
    border-radius: 1em;
    margin: 1em;
}

.flex-item h3 {
    color: #FFF;
    margin: 0.25em auto;
}

.flex-item p {
    color: #FFF;    
}

.center {
    justify-self: center;
}

.flex-item svg {
    margin: auto;
    padding: 1em;
    display: inline;    
}

.flex-item a {
    width: 100%;
    height: 100%;
}